<!DOCTYPE html>
<html lang="en">
<head>
<title>{{.ClassName}}</title>
<link rel="stylesheet" href="style.css" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
</head>
<body>
<header>
	<div>
		<strong>{{.ClassName}}</strong> - <a href="index.html">home</a> <div class="spacer"> </div> <div style="display: inline-block;"><button id="left">&larr;</button><button id="currentweek">current week</button><button id="right">&rarr;</button></div>
	</div>
</header>
<main>
{{range .Weeks}}
	<h2 id="week_{{.WeekNumber}}">Week {{.WeekNumber}} <small>({{.Hours}} hours)</small></h2>
	<section data-week="{{.WeekNumber}}" data-startat="{{.StartAt}}" data-endat="{{.EndAt}}">
	{{range $index, $d := .Days}}
		<div class="day" data-day="{{$index}}">
		<h3>{{if .DayString}}{{ .DayString}} <small>({{.Hours}} hours)</small>{{else}}&nbsp;{{end}}</h3>
		<div class="activities">
		{{range $d.Activities}}
			<div class="activity{{if .NonImportant}} nonimportant{{end}}{{if .Important}} important{{end}}"  style="margin-top: {{.Padding}}px; min-height: {{.Height}}px; height: {{.Height}}px;">
			<div style="float: right;">{{.StartStr}}</div><h4><span title="{{.OrigDesc}}">{{.Desc}}</span></h4>
			{{.Loc}}<br />
			{{range $i, $s := .Staff}}
				{{if gt $i 0}}, {{end}}
				{{if $s.Name}}
					<span title="{{$s.ID}}">{{$s.Name}}</span>
				{{else}}
					{{$s.ID}}
				{{end}}
			{{end}}<br />
			<small><div style="float:right;"><span title="{{range $i, $c := .Classes}}{{if gt $i 0}}, {{end}}{{$c}}{{end}}">{{len .Classes}} class{{if gt (len .Classes) 1}}es{{end}}</span></div>Ends: {{.EndStr}}</small><br />
			</div>
		{{end}}
		</div>
		</div>
	{{end}}
	</section>
{{end}}
(generated on: {{.GeneratedTimeStr}})
</main>
<script type="text/javascript" src="script.js"></script>
</body>
</html>
